{{ define "main" }}
<section class="taxonomy-term">
  <header class="page-header">
    <h1>{{ .Title }}</h1>
    <a class="rss-link" href="{{ .Permalink }}index.xml" title="Subscribe to RSS feed for {{ .Title }} catalogue entries" aria-label="RSS feed">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true">
        <path d="M6.18 15.64a2.18 2.18 0 0 1 2.18 2.18C8.36 19.01 7.38 20 6.18 20C4.98 20 4 19.01 4 17.82a2.18 2.18 0 0 1 2.18-2.18M4 4.44A15.56 15.56 0 0 1 19.56 20h-2.83A12.73 12.73 0 0 0 4 7.27V4.44m0 5.66a9.9 9.9 0 0 1 9.9 9.9h-2.83A7.07 7.07 0 0 0 4 12.93V10.1z"/>
      </svg>
      RSS
    </a>
  </header>
  {{ .Content }}
  <ul class="entry-list">
    {{ range .Pages }}
    <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
    {{ end }}
  </ul>
</section>
{{ end }}
