{{ $entries := slice }}
{{ range where site.RegularPages "Section" "catalogue" }}
  {{ $domains := .Params.domains | default slice }}
  {{ $collabTypes := index .Params "collaboration-types" | default slice }}
  {{ $modalities := .Params.modalities | default slice }}
  {{ $scales := .Params.scales | default slice }}
  {{ $methods := .Params.research_methods | default slice }}

  {{ $entry := dict
    "id" (.Params.data_id | default .File.ContentBaseName)
    "title" .Title
    "url" .RelPermalink
    "tagline" .Params.tagline
    "type" (path.Base (path.Dir .File.Path))
    "maturity" .Params.maturity
    "description" .Params.description
    "domains" $domains
    "collaborationTypes" $collabTypes
    "modalities" $modalities
    "scales" $scales
    "researchMethods" $methods
    "whenToUse" .Params.when_to_use
    "limitations" .Params.limitations
  }}
  {{ $entries = $entries | append $entry }}
{{ end }}
<script id="compare-data" type="application/json">
  {{ $entries | jsonify }}
</script>